@charset "UTF-8";

@media screen and (min-width: 768px) {
    header {
        span#burguer {
            display: none;
        }

        menu {
            display: block;

            & ul > li {
                display: inline-block;
            }
        }
    }

    main {
        width: 768px;
    }
}