@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(202, 202, 202);
}

header {
    background-color: gray;

    & h1 {
        padding: 10px;
        text-align: center;
    }

    & span#burguer {
        background-color: rgb(48, 48, 48);
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    & span#burguer:hover {
        background-color: white;
        color: black;
    }

    & menu {
        display: none;

        & ul {
            list-style-type: none;

            & li > a:hover {
                background-color: gray;
            }

            & li > a {
                display: block;
                padding: 10px;
                text-decoration: none;
                background-color: rgb(87, 87, 87);
                color: white;
                text-align: center;
                border-top: 2px solid gray;
            }
        }
    }
}

main {
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    
    & article {
        & h2 {
            padding-bottom: 20px;
        }

        & p {
            text-align: justify;
            margin-bottom: 20px;
            text-indent: 20px;
        }
    }
}