@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-variant: small-caps;
    color: white;
}

header {
    background-color: black;
    color: white;
    text-align: center;
     & h1 {
        padding-top: 50px;
        font-variant: small-caps;
     }
     & p {
        padding-bottom: 50px;
     }
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2.2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(70, 69, 69);
    color: white;

    & p {
        background-color: rgba(0, 0, 0, 0.205);
        width: 400px;
    }
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}