@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BA51DB, #DB70CA);
    
}

main{
    background-color: aliceblue;
    width: 700px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #db49395e;
}

h1{
    color: #DB234F;
    text-align: center;
    text-shadow: 1px 1px 2px #8516309f;
}

h2{
    color:  #DB4A39;
}

P {
    text-align: justify;
    color: #DB1FBD;
}